<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gtv.hanhee.novelreading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- tools:ignore="ProtectedPermissions" /> -->
    <application
        android:name=".ReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Ui.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.Activity.SearchActivity" />
        <activity android:name=".Ui.Activity.BookDetailActivity" />
        <activity android:name=".Ui.Activity.BooksByTagActivity" />
        <activity android:name=".Ui.Activity.ReadActivity" />

        <service android:name=".Service.DownloadBookService" />

        <activity
            android:name=".Ui.Activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.Activity.ScanLocalBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.Activity.WifiBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.Activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Ui.Activity.BookDiscussionActivity" />
        <activity android:name=".Ui.Activity.BookReviewActivity" />
        <activity android:name=".Ui.Activity.BookHelpActivity" />
        <activity android:name=".Ui.Activity.GirlBookDiscussionActivity" />
        <activity android:name=".Ui.Activity.BookDiscussionDetailActivity" />
        <activity android:name=".Ui.Activity.SubjectBookListDetailActivity"></activity>
    </application>

</manifest>